aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types==0.7.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
comm
contourpy
cryptography
cycler
databricks-sdk
debugpy
decorator
defusedxml
Deprecated
docker
entrypoints
eval_type_backport==0.2.2
exceptiongroup
executing
fastapi
fastjsonschema
flake8
Flask
fonttools
fqdn
frozenlist
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
greenlet
gunicorn
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mlflow
mlflow-skinny
multidict
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
overrides
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pooch
prometheus_client
prometheus_flask_exporter
prompt_toolkit
protobuf==4.25.3
psutil
ptyprocess
pure_eval
pyarrow==15.0.2
pyasn1
pyasn1_modules
pycparser
pydantic==2.10.6
pydantic_core==2.27.2
Pygments
PyNaCl
pyOpenSSL
pyparsing
PySocks
pytest
python-dateutil
python-json-logger
pytz
pyu2f
PyYAML
pyzmq
querystring_parser
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
rsa
scikit-learn==1.5.1
scipy==1.10.1
Send2Trash
sentry-sdk==2.43.0
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlparse
stack-data
terminado
threadpoolctl
tinycss2
tomli
tornado
traitlets
types-python-dateutil
typing-utils
typing_extensions
tzdata
unicodedata2
uri-template
urllib3
uvicorn
wandb==0.22.3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
yarl
zipp
zstandard==0.23.0